In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('Housedata.csv', index_col=0)
df = df.replace({'yes': 1, 'no': 0})
df.insert(1,"x0",np.ones(len(df)))
df.head()

,price,x0,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,1.0,5850,3,1,2,1,0,1,0,0,1,0
2,38500.0,1.0,4000,2,1,1,1,0,0,0,0,0,0
3,49500.0,1.0,3060,3,1,1,1,0,0,0,0,0,0
4,60500.0,1.0,6650,3,1,2,1,1,0,0,0,0,0
5,61000.0,1.0,6360,2,1,1,1,0,0,0,0,0,0

In [24]:
Y = df.iloc[:, 0].values
X = df.iloc[:, 1:].values
lamda = 100

In [25]:
w = np.linalg.inv(np.matmul(X.T , X) + lamda*np.identity(X.shape[1]))  #(X.T * X)^-1

In [26]:
y = np.matmul(X.T , Y)  #(X.T * Y)

In [27]:
w = np.matmul(w , y)

In [28]:
index = 25
np.dot(w , X[index]), Y[index]

(46023.9671812868, 42300.0)

In [29]:
w

array([5.75297380e+02, 4.52830977e+00, 3.29527341e+03, 8.75105651e+03,
       6.64614031e+03, 3.22985653e+03, 3.16264360e+03, 4.15772005e+03,
       2.21343653e+03, 6.95669036e+03, 4.06774129e+03, 4.99028130e+03])