In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Housedata.csv', index_col=0)
df = df.replace({'yes': 1, 'no': 0})
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,5850,3,1,2,1,0,1,0,0,1,0
2,38500.0,4000,2,1,1,1,0,0,0,0,0,0
3,49500.0,3060,3,1,1,1,0,0,0,0,0,0
4,60500.0,6650,3,1,2,1,1,0,0,0,0,0
5,61000.0,6360,2,1,1,1,0,0,0,0,0,0

In [3]:
# m = sum(xy) - y_mean * sum(x)
#      ----------------------
#     sum(x*2) - x_mean * sum(x)

# c = y_mean - x_mean

# Y = df['price'].values
Y = df.iloc[:, 0].values
X = df.iloc[:, 1:].values

print(X.shape, Y.shape)

numr = np.dot(np.diag(Y), X).sum(axis=0) - np.mean(Y) * np.sum(X, axis=0)
denr = np.multiply(X, X).sum(axis=0) - np.mean(X, axis=0)*np.sum(X, axis=0)

m = numr / denr
c = np.mean(Y) - np.dot(m, np.mean(X, axis=0))
print(m.shape, c)

(546, 11) (546,)
(11,) -112192.42774680664

In [4]:
# validate

def mse(y,y_):
    return ((y-y_)*(y-y_)).mean()

Y_pred = np.array([np.dot(m, x) + c for x in X])
mse(Y_pred, Y)

1059155443.9000349

In [6]:
cm

(-112192.42774680664,
 array([6.59876759e+00, 1.32699801e+04, 2.74769854e+04, 1.29542406e+04,
        2.27781163e+04, 1.77955543e+04, 1.04169195e+04, 1.18489367e+04,
        2.59957370e+04, 1.18833265e+04, 2.07228815e+04]))