In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Housedata.csv")

In [4]:
data = data.drop(['Unnamed: 0'],axis=1)

In [5]:
data.driveway = pd.Categorical(data.driveway).codes
data.fullbase = pd.Categorical(data.fullbase).codes
data.recroom = pd.Categorical(data.recroom).codes
data.gashw = pd.Categorical(data.gashw).codes
data.airco = pd.Categorical(data.airco).codes
data.prefarea = pd.Categorical(data.prefarea).codes

In [6]:
minl = data['lotsize'].min()
maxl = data['lotsize'].max()
data['lotsize'] = data['lotsize'].apply(lambda x: (x - minl) / (maxl - minl))

In [7]:
minp = data['price'].min()
maxp = data['price'].max()
data['price'] = data['price'].apply(lambda x: (x - minp) / (maxp - minp))
data.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,0.103030,0.288660,3,1,2,1,0,1,0,0,1,0
1,0.081818,0.161512,2,1,1,1,0,0,0,0,0,0
2,0.148485,0.096907,3,1,1,1,0,0,0,0,0,0
3,0.215152,0.343643,3,1,2,1,1,0,0,0,0,0
4,0.218182,0.323711,2,1,1,1,0,0,0,0,0,0

In [8]:
X = data.iloc[: , 1 :]
Y = data.iloc[: , :1]

In [9]:
x_train = X.iloc[:int(X.shape[0] * .8) , :].values
y_train = Y.iloc[:int(Y.shape[0] * .8) , :].values
x_test = X.iloc[int(X.shape[0] * .8): , :].values
y_test = Y.iloc[int(Y.shape[0] * .8): , :].values

In [10]:
weights = np.random.rand(X.shape[1],1)
bias = np.random.rand(1)
rate = 0.001
scale = 1000

In [11]:
def predicted(x):
    return np.matmul(x , weights) + bias

In [12]:
def cost(y , y_):
    return (y_ - y)

In [13]:
def regression():
    for epochs in range(10000):
        y_pred = predicted(x_train)
        c = cost(y_train,y_pred).reshape(-1) 
        for i in range(weights.shape[0]):
            dw = np.mean(np.multiply(x_train[:,i],c)) + np.multiply((scale/436) , weights[i])
            weights[i] -= rate*dw
        bias[0]-= rate*np.mean(c)

In [14]:
regression()